---
import { actions, isInputError } from "astro:actions";
import { Font } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import speech from "$/speech.png";
import Entries from "~/Entries.astro";
import Dialog from "~/Dialog.astro";

const result = Astro.getActionResult(actions.guestbook.addEntry);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
---
<Layout title="haetae, guestbook">
  <Fragment slot="head">
    <Font cssVariable="--mono" preload />
    <Font cssVariable="--mlss" preload />
  </Fragment>

  <main>
    <h1>Guestbook</h1>

    <section id="add-comment">
      {import.meta.env.DEV && <p><a href="/guestbook/admin">for your eyes only...</a></p>}
      <form action={actions.guestbook.addEntry} method="post">
        <label for="username">Nickname</label>
        <input type="text" id="username" name="username" required aria-describedby="username-error" />
        {inputErrors.username && <p id="username-error" class="error">{inputErrors.username}</p>}

        <label for="website">Website (optional)</label>
        <input type="url" id="website" name="website" aria-describedby="website-error" />
        {inputErrors.website && <p id="website-error" class="error">{inputErrors.website}</p>}

        <!-- <label for="challengeQuestionAnswer">What's my name?</label>
        <input placeholder="read my about page!" type="text" id="challengeQuestionAnswer" name="challengeQuestionAnswer" required /> -->
        
        <label for="message">Message</label>
        <textarea placeholder="Message (plain text only)..." id="message" name="message" required aria-describedby="message-error"></textarea>
        {inputErrors.message && <p id="message-error" class="error">{inputErrors.message}</p>}
        
        <button type="submit">Submit</button>
      </form>
    </section>

    <Entries server:defer>
      <p slot="fallback">Loading...</p>
    </Entries>
    
    <Dialog id="notification">
      Successfully posted! Refreshing in <span id="seconds">5</span> seconds.
    </Dialog>
  </main>
</Layout>

<style define:vars={{ border: `url(${speech.src})` }}>
  :root {
    --speech-bg-color: #f8f8f8;
    --speech-fg-color: #404040;
  }
  
  main {
    max-width: clamp(75ch, 80ch, 100%);
    margin: 1rem auto;

    @media screen and (width < 1000px) {
      max-width: 100%;
      margin: 1rem;
    }
  }

  #add-comment {
    form {
      display: flex;
      flex-flow: column wrap;
      
      input, textarea {
        margin-bottom: 1rem;
        padding: 2px 6px;
      }
    }

    .error {
      color: color-mix(in oklab, var(--fg-color) 80%, var(--bg-color));
    }
  }
</style>

<script>
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";
  
  const form = document.forms[0];
  const notification = document.getElementById("notification")! as HTMLDialogElement;
  const seconds = document.getElementById("seconds") as HTMLElement;

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const data = new FormData(form);
    const { error } = await actions.guestbook.addEntry(data);
    let time = 5;

    if (!error) {
      notification.showModal();
      const timer = setInterval(() => {
        if (time <= 0) {
          clearInterval(timer);
          notification.close();
          location.reload();
          navigate("#entries");
        } else {
          seconds.innerText = time.toString();
          time--;
        }
      }, 1000);
    }
  });
</script>