---
import { actions, isInputError } from "astro:actions";
import { db, Guestbook as table } from "astro:db";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import Layout from "@/layouts/Layout.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

export const prerender = false;

dayjs.extend(utc);
const result = Astro.getActionResult(actions.guestbook);
const errors = isInputError(result?.error) ? result.error.fields : {};
const entries = await db.select().from(table);
entries.sort((a, b) => b.date.valueOf() - a.date.valueOf());
---
<Layout title="haetae, guestbook">
  <ThemeSwitch />
  <main>
    <h1>Guestbook</h1>
    <details>
      <summary>click me for a secret!</summary>
      <noscript>you should put ILIAD, but in all lowercase, in the password field!</noscript>
      <p id="cool-surprise"></p>
    </details>

    <form action={actions.guestbook} method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" aria-describedby="username-error" required />
      {errors.username && <p id="username-error">{errors.username.join(",")}</p>}

      <label for="website">Website (optional)</label>
      <input type="url" name="website" id="website" aria-describedby="website-error" />
      {errors.website && <p id="website-error">{errors.website.join(",")}</p>}

      <label for="body">Message</label>
      <textarea name="body" id="body" rows="5" aria-describedby="body-error" required></textarea>
      {errors.body && <p id="body-error">{errors.body.join(",")}</p>}

      <label for="password">Do you know the password?</label>
      <input type="text" name="password" id="password" value="yes!" aria-describedby="password-error" required />
      {errors.password && <p id="password-error">{errors.password.join(",")}</p>}

      <button type="submit">Post</button>
    </form>

    {entries.map(({ username, website, body, date }) => (
      <article class="entry">
        <header>
          <h1>{username}</h1>
          <time datetime={dayjs(date).utc(true).toISOString()}>
            Posted on {dayjs(date).utc(true).format("MMMM DD, YYYY")}
          </time>
          {website && <a href={website} target="_blank" referrerpolicy="no-referrer">website</a>}
        </header>
        {body}
      </article>
    ))}
  </main>
</Layout>

<style>
  main {
    max-width: clamp(75ch, 80ch, 100%);
    margin: 1rem auto;

    article {
      max-width: calc(80ch + 2rem);
      padding: 1rem;
    }

    @media screen and (max-width: 1000px) {
      max-width: 100%;
      margin: 1rem;

      article {
        max-width: 100%;
        padding: 0.5rem;
      }
    }
  }

  form {
    display: flex;
    flex-flow: column wrap;
    
    input, textarea {
      margin-bottom: 1rem;
      padding: 2px 6px;
    }
  }

  details {
    & > summary {
      list-style: none;
      cursor: pointer;
      font-weight: bold;

      &::after {
        content: "[+]";
      }

      [open] &::after {
        content: "[_]";
      }
    }
  }
</style>

<script>
  const details = document.getElementsByTagName("details").item(0);
  const pw = document.getElementById("cool-surprise");
  let initial = "vyvnq";
  details?.addEventListener("toggle", e => {
    if ((e.target as HTMLDetailsElement).open) {
      pw!.innerHTML = `if you read this, put <strong>${initial.replace(/[a-zA-Z]/g, c => {
        // @ts-expect-error the below code works
        return String.fromCharCode((c <= "Z" ? 90 : 122) >= (c = c.charCodeAt(0) + 13) ? c : c - 26);
      })}</strong> for the password field!`
    }
  });
</script>